
<%
var pageTitle = page.title || config.subtitle || '';
if (is_archive()) pageTitle = 'Archives';
if (is_tag()) pageTitle = 'Tag: ' + page.tag;
if (is_category()) pageTitle = 'Category: ' + page.category;
if (is_month()) pageTitle += ': ' + page.month + '/' + page.year;
if (is_year()) pageTitle += ': ' + page.year;
pageTitle += ' [ ' + config.title + ' ]';
%>

<!DOCTYPE html>
<html lang="<%=config.language%>">
<head>
  <meta charset="UTF-8">
  <meta name="viewport" content="initial-scale=1, width=device-width">
  <title><%=pageTitle%></title>
  <% if (theme.stylesheets !== undefined && theme.stylesheets.length > 0) { %>
    <!-- stylesheets list from _config.yml -->
    <% theme.stylesheets.forEach(url => { %>
      <link rel="stylesheet" href="<%=url%>">
    <% }); %>
  <% } %>
  <script src="//instant.page/5.1.0" type="module" integrity="sha384-by67kQnR+pyfy8yWP4kPO12fHKRLHZPfEsiSXR8u2IKcTdxD805MGUXBzVPnkLHw"></script>
</head>
<body>

<div id="menu-outer">
  <div id="menu-inner">
    <% Object.keys(theme.menu).forEach(key => { %>
      <a href="<%=theme.menu[key]%>"><%=key%></a>
    <% }); %>
  </div>
</div>

<div id="content-outer">
  <div id="content-inner">
    <%- body %>
  </div>
</div>

<div id="bottom-outer">
  <div id="bottom-inner">
    <div id="footer-info">
      <div class="post-date-left">
        <%if(page.date){%>
          Create: <%=page.date%>
        <%}%>
      </div>
      <div class="site-title-area">
        <div class="site-title">
          <%if(config.description){%>
            <%=config.description%>
          <%}else{%>
            我们生来就是孤独，我们生来就是孤单。
          <%}%>
        </div>
        <div class="site-subtitle">
          Site by <%=config.author%> using
          <a href="http://hexo.io">hexo blog framework</a>
        </div>
      </div>
      <div class="post-date-right">
        <%if(page.updated){%>
          Update: <%=page.updated%>
        <%}%>
      </div>
    </div>
    <% if (is_post() || (is_page() && page.comments == true)) { %>
      <%- partial('partials/valine') %>
      <% if (theme.valine.visitor) { %>
        <span id="<%- url_for(page.path) %>" class="leancloud-visitors view" data-flag-title="<%page.title%>">
          <em class="post-meta-item-text">阅读量 </em>
          <i class="leancloud-visitors-count">不知道 &gt;_&lt;</i>
        </span>
      <%}%>
    <%}%>
    <!-- 不蒜子网站访问量统计 -->
    <script async src="//busuanzi.ibruce.info/busuanzi/2.3/busuanzi.pure.mini.js"></script>
    <span id="busuanzi_container_site_pv">本站总访问量<span id="busuanzi_value_site_pv"></span>次</span>
  </div>
</div>

<% if (theme.scripts !== undefined && theme.scripts.length > 0) { %>
  <!-- scripts list from theme config.yml -->
  <% theme.scripts.forEach(url => { %>
    <script src="<%=url%>"></script>
  <% }); %>
<% } %>

<% if (is_post()) { %>
  <%-partial('partials/toc', {page: page})%>
<% } %>

</body>
</html>
